.App {
	text-align: center;
}

img.reversed {
	/* flip both */
	transform: rotateX(180deg) rotateY(180deg);
}

.clickable {
	cursor: pointer;
}

.container {
	position: relative;
	min-height: 100vh;
	padding-top: 2.5rem;
}

.notFooter {
	padding-bottom: 2.5rem;
}

footer {
	position: absolute;
	bottom: 0;
	height: 2.5rem;
	min-width: 100%;
}

.leanRight {
	text-align: right;
}

.leanLeft {
	text-align: left;
}

.noPadding {
	padding: 0px !important;
}

.hide {
	display: none !important;
}

body {
	background-color: black !important;
}

p,
label,
input,
h2 {
	color: blueviolet !important;
}

.btn-primary {
	background-color: blueviolet !important;
	border-color: darkmagenta !important;
}
